:root {
  --text-color: #666666;
  --text-black-color: #222222;
  --primary-color: #008ECC;
  --border-color: #EDEDED;
  --bg-1-color: #F5F5F5;
  --bg-3-color: #F3F9FB;

  --font: "Inter", sans-serif;
}

body{
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

h2{
  font-size: 24px;
  font-weight: 700;
}